<h1>Debates 2008</h1>

<p>mages from the 2008 debate</p>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="images/Barack-Obama-images-.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">A New Hope?</h4>
        <p class="card-text">"America's promises do not come with a price tag. We meet our commitments. And that's one reason why almost every country on Earth sees America as stronger and more respected today than they did eight years ago."</p>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a>%>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top1" src="images/Seal_of_the_President_of_the_United_States.svg.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">As the Office</h4>
        <p class="card-text">and America looks for a new hero.</p>
        <a href="/" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="images/mccain_pareene.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">A War Hero?</h4>
        <p class="card-text">"...You know that old Beach Boys song, Bomb Iran? Bomb, bomb, bomb, bomb-bomb Iran.".</p>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a>%>
      </div>
    </div>
  </div>
</div>
