<h1>Debates 2012</h1>

<p>This is a debates page</p>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="images/Funny_Obama.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">A Second Term Nominee</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a>%>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top2" src="images/Seal_of_the_President_of_the_United_States.svg.png" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Of the President</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/" class="btn btn-primary">Home</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="images/Romney_Funny.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">A Different Vision?</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <%# <a href="#" class="btn btn-primary">Go somewhere</a>%>
      </div>
    </div>
  </div>
</div>
