<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>upcoming_us_election</title>
  </head>
  <body>
    <h1>The Upcoming US Elections</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="images/McCain-Obama_debate_at_Ole_Miss.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="debates2008" class="btn btn-primary">Debate 2008</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="images/obama-romney-debate-2012.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>%>
            <a href="debates2012" class="btn btn-primary">Debate 2012</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="images/clintonvtrump.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="debates2016" class="btn btn-primary">Debate 2016</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>%>
