<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>upcoming_us_election</title>
  </head>
  <body>
    <h1>The Upcoming US Elections</h1>

    <p>
      The 2016 United States presidential election debates are a series of debates being held for the 2016 U.S. presidential general election. The Commission on Presidential Debates (CPD), a bipartisan organization formed in 1987, organizes debates among the major presidential candidates. The first presidential debate for the 2016 election took place on September 26, 2016 and set the record as the most-watched debate in American history, with 84 million viewers. <strong> But how does America go from having to choose from two of the most respected candidates in 2008 to two of the most dislikes candidates in 2016.</strong>
    </p>

    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="images/McCain-Obama_debate_at_Ole_Miss.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">McCain v. Obama</h4>
            <p class="card-text">In the 2008 US election there was an air of expectant hope as a war hero challenged the first black presidential candidate to take on the job of pulling America out of worst recession in living memory.</p>
            <a href="debates2008" class="btn btn-primary">Debate 2008</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="images/obama-romney-debate-2012.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Obama v. Romney</h4>
            <p class="card-text">In the 2012 US election the expectant hope has turn despair as many feel left behind in the wake of increasing globalisation.</p>%>
            <a href="debates2012" class="btn btn-primary">Debate 2012</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="images/clintonvtrump.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Clinton v. Trump</h4>
            <p class="card-text">In 2016 despair turns to panic as America has to chose between two of the most unpopular presidential candidates reflecting a nation devided.</p>
            <a href="debates2016" class="btn btn-primary">Debate 2016</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>%>
