<h1>New Dino</h1>

<form action="/tindersaurus" method="post">
  <label for="tinder_name">Name</label>
  <input type="text" name="tinder[name]" id="tinder_name">

  <label for="tinder_age">Age</label>
  <input type="number" name="tinder[age]" id="tinder_age">

  <label for="tinder_species">Species</label>
  <input type="text" name="tinder[species]" id="tinder_species">

  <label for="tinder_image">Picture</label>
  <input type="text" name="tinder[image]" id="tinder_image">

  <label for="tinder_population">Pop</label>
  <input type="number" name="tinder[population]" id="tinder_population">

  <label for="tinder_foodType">Foods</label>
  <input type="text" name="tinder[foodType]" id="tinder_foodType">

  <button>Submit</button>
</form>
