<h1>New Dino</h1>

<form action="/tindersaurus" method="post">
  <label for="tinder_name">Name</label>
  <input type="text" name="tinder[content]" id="tinder_name">

  <button>Submit</button>
</form>
