<h1>Show Dino</h1>

<h2><%= Tinder.Name %></h2>
<h2><%= Tinder.Age %></h2>

<a href="/tindersaurus/<%= tindersaurus.id %>/edit">Edit</a>
<form action="/tindersaurus/<%= tindersaurus.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>
