<h1>Quote: <%= quote.name %></h1>
<p><strong>quickQuotes:</strong> <%= quote.quickQuotes %></p>
<a class="btn" href="/quotes/<%= quote.id %>/edit">Edit</a>
<form method="post" action="/quotes/<%= quote.id %>">
  <input type="hidden" name="_method" value="delete">
  <input class="btn" type="submit" value="Delete">
</form>
