/*body {
  background: white;
}*/

/*#top-area {
  background-color: :black;
  height: 100px;
  width: 100px;
}*/
body {
  background-image: url("../images/bgtile.png");
  background-repeat: repeat-x;
}

img {
  width: 400px;
  height: 500px;
  margin:200px 0 0 0;
  float: left;
}

h1 {
  height: 50px;
  width: 90px;
  float: left;
}

h2 {
  height: 50px;
  width: 90px;
}

p {
  text-align: center;
}

#phone {
/*background-image: url("../images/phone.png");*/
height: 400px;
width: 200px;
border-style: solid;
border-color: black;
border-width: 1px;
}

#brand {
/*background-image: url("../images/phone.png");*/
/*height: 20px;
width: 100px;*/
border-style: : solid;
border-color: black;
border-width: 5px;
}

#frame {
/*background-image: url("../images/phone.png");*/
height: 100px;
width: 100px;
border-style: solid;
border-color: black;
border-width: 5px;
}
div {
  display: block;
}
