<h1>About the Pig Latin Translator</h1>

<p>
  <srong>Pig Latin</strong> is a language game in which words in English are altered. The objective is to conceal the words from others not familiar with the rules. The reference to Latin is a deliberate misnomer, as it is simply a form of jargon, used only for its English connotations as a strange and foreign-sounding language.
</p>

<a href="/">Home</a>
